<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title GIPHY | Search All the GIFs | Make Your Own Animated GIF
        link(rel="stylesheet", href="../scss/style.scss") 
        script(src="../js/main.js", defer)
        script(src="../../node_modules/bootstrap/js/dist/carousel.js")
        link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    body

        div.container
            div.row
                div.col-2
                    img.logoImg(src='../imgLogo/logo.jpeg')
                    
                div.col-6 
                    ul.nav.justify-content-center
                        li.nav-item
                            a.nav-link.active(href="#")
                                | Reactions
                        li.nav-item
                            a.nav-link.active(href="#")
                                | Entertainment
                        li.nav-item
                            a.nav-link.active(href="#")
                                | Sports
                        li.nav-item
                            a.nav-link.active(href="#")
                                | Stickers
                        li.nav-item
                            a.nav-link.active(href="#")
                                | Artists
                        li.nav-item
                            a.nav-link.active(href="#")
                                | ...

                
                div.col-2
                    ul.nav.nav-pills.nav-fill
                        li.nav-item.uploadCreate
                            a.nav-link.active(href="#") 
                                |Upload
                        li.nav-item.uploadCreate
                            a.nav-link.active(href="#") 
                                |Create
                div.col-2
                    div.btn-group(role="group" aria-label="Basic example")
                        button.btn.btn-secondary.pic(type="button") 
                            i(class="fas fa-user-alt")
                        button.btn.btn-secondary.loginButton(type="button") LogIn
                                

                div.col-12.search
                    div.input-group.mb-3
                        input(type="text" class="form-control" placeholder="Seach" aria-label="Seach" aria-describedby="button-addon2")
                        div.input-group-append
                            button.btn.btn-outline-secondary.seachButton(type="button" id="button-addon2") 
                                i(class="fas fa-search searchIcon")
                                

                div.col-12
                    img.instagram(src="https://media.giphy.com/headers/2019-03-29-29-1553884190/homepage-banner.gif")
                div.col-4
                    p TRENDING GIFS
                div.col-4
                    p.todaysDay
                div.col-4
                    p.seeAllLink See all
                div.col-12
                    div#carouselExampleControls.carousel.slide(data-ride="carousel")
                        div.carousel-inner
                            each val in imgSrc
                                div.carousel-item
                                    img(src=val class="d-block w-100" alt="...")

                        a.carousel-control-prev(href="#carouselExampleControls" role="button" data-slide="prev")
                            span.carousel-control-prev-icon(aria-hidden="true")
                            span.sr-only Previous
                        a.carousel-control-next(href="#carouselExampleControls" role="button" data-slide="next")
                            span.carousel-control-next-icon(aria-hidden="true")
                            span.sr-only Next 
                  
                div.col-12
                    p.todayDay
                div.col-12
                    | Latest stories
                div.col-6.storyContainer
                    .story1.story
                        p.storyName You've Heard of FOMO. How About JOMO?
                div.col-3.storyContainer
                    .story2.story
                        p.storyName Someone Great
                div.col-3.storyContainer
                    .story3.story
                        p.storyName (Girl) Crush
                div.col-3.storyContainer
                    .story4.story
                        p.storyName ICYMI: All of the Dirk and D-Wade Retirement GIFs!
                div.col-3.storyContainer
                    .story5.story
                        p.storyName The Perfect Date
                div.col-6.storyContainer
                    .story6.story
                        p.storyName Pretty Little Liars: The Perfectionists GIPHY Stickers
