body {
    background-color:#131110;
    color: white;
    width: 1040px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
    
    
}
div.container{
    min-width: 1040px;
}
.instagram {
    height: 100px;
    width: auto;
}
.search {
    margin-top: 15px;
}

.seeAllLink{
    margin-right: 0;
    text-align: right;
}
.logoImg{
    height: 30px;
    width: auto;
}

.nav-pills .active, .nav-link .active, .btn {
    border-radius: 0;
    color:white;
    font-size: 15px;
    font-weight: 500;
}
a{
    color:white;
}
a:hover{
    background-color: #973495;
    color:white;
}
.uploadCreate {
    margin: 0 3px;
    background-color:#645BFF;
}
.nav-pills .nav-link.active{
    background-color:#645BFF;
}
.justify-content-center, .nav-pills, .nav-fill{
    display: flex;
    flex-wrap: nowrap;
}

.btn-group{
    display: inline;
    float: right;
}
.personIcon{
    size: 40px;
    fill: yellow;
}
.loginButton{
    width: 95px;
}
.searchIcon{
    font-size: 30px;
    font-weight: 100;
}
.seachButton{
    background-color: #973495;
}
.input-group, .form-control{
    height: 52px;
}

.story{ 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    height: 300px;
    padding: 5px;
    position: relative;

}
.story1{
    background-image: url(../imgContent/giphy.webp);}

.story2 {
    background-image: url(../imgContent/giphy1.webp)
}
.story3 {
    background-image: url(../imgContent/giphy3.webp)
}
.story4 {
    background-image: url(../imgContent/2004.webp)
}
.story5 {
    background-image: url(../imgContent/giphy5.webp)
}
.story6 {
    background-image: url(../imgContent/giphy6.webp)
}
.storyContainer{
    padding: 5px;
}
.storyName {
    vertical-align: bottom;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    font-weight: bold;
}